* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    width: 100%;
}

body, html {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

$black: #000;
$white: #fff;
$pink: #F551A8;
$secundary: #754A61;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    width: 100%;
    overflow: hidden;
}

#menu {
    z-index: 1;
    background-color: #F551A8;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    color: $white;

    #logo {
        font-size: 25px;
    }

    label {
        color: $black;
        #check, ion-icon {
            display: none;
        }
    }

    ul {
        @include flex;
    }

    li {
        list-style: none;
    }

    a{
        padding: 1em;
        text-decoration: none;
        color: $white;
    }
}

#left-content {
    background-color: #F551A8;
    width: calc(100% - 300px);
    height: 100vh;

    #initial-information {
        font-weight: bold;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1.5em;
        #name, #slogan {
            font-size: 2em;
            color: $secundary;
        }
    
        #job {
            color: $white;
            font-size: 3em;
        }
    }
}

#right-content {
    position: relative;
    height: 100vh;
    width: 300px;

    #social-media {
        position: fixed;
        right: 0;
        background-color: $white;
        z-index: 1;

        ul {
            width: 300px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            display: block;
            padding: .5em;
            color: $black;
            &:hover {
                color: $pink; 
            }
        }
        
        ion-icon {
            font-size: 2em;
        }

        li {
            list-style: none;
        }
    }
    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: -50%;
    }
}

#skills {
    width: 100%;
    padding: 2em 1em;
    text-align: center;

    span {
        font-size: 1.2em;
        font-weight: 700;
        color: $secundary;
    }
    
    h1 {
        font-size: 2em;
        font-weight: bold;
    }



    .card-group {
        @include flex;
        flex-wrap: wrap;
        gap: 1.5em 1em;
        margin: 1.5em auto 1em;
        max-width: 900px;
    }

    .card {
        ion-icon {
            font-size: 3em;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: min-content;
        width: max-content;
        padding: 2em;
        color: $black;
        box-shadow: 0 0 .4em $black;
        background-color: $white;
        min-height: 250px;
        max-width: min-content;
        min-width: 250px;
        border-radius: 15px;
        position: relative;
        bottom: 0;
        transition: all ease .5s;

        path, polygon {
            transition: fill ease .5s;
        }

        &:hover {
            bottom: 20px;
            color: $white;
            box-shadow: none;
            background-color: $pink;
            border: none;
            svg {
                path, polygon {
                    fill: $white;
                }
            }
        }
    } 
}

#contact {
    background-image: linear-gradient(to right bottom, $pink, $secundary);
    padding: 1em;

    h1 {
        color: $white;
        font-weight: 700;
    }

    p {
        color: $white;
        max-width: 500px;
        margin: 1em 0;
    }
    a {
        padding: 1em 2em;
        text-decoration: none;
        border-radius: 50px;
        background-color: $white;
        font-weight: bold;
        color: $pink;
    }
}

footer {
    padding: 1em;
    width: 100%;
    text-align: center;
    background-color: #1e1e1e;
    color: $white;
    a, span {
        color: $pink;
    }
}



.projects {
    color: $white;
    height: min-content;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: #F551A8;

    a {
        color: $white;
        text-decoration: none;
    }

    .p-info {
        max-width: 400px;

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
        a {
            display: block;
            margin: 1em 0;
            width: min-content;
            font-family: 'Poppins', 'Montserrat', sans-serif;
            padding: 1em 2em;
            border-radius: 50px;
            border: none;
            color: $white;
            background-color: $secundary;
        }
    }

    &:nth-child(even) {
        background-color: #754A61;
        flex-direction: row-reverse;

        .p-info {
            a {
                background: $pink;
            }
        }
    }
}

.preview {
    position: relative;
    padding: 1em;
    width: 600px;
    height: 400px;

    img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 700px) {

    #left-content {
        width: 100%;
    }

    #right-content {
        display: inline;

    }

    #social-media {
        @include flex;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    #menu {
        width: 100%;
        padding: 1em;
        ul {
            color: $black;
            display: none;
        }

        label {
            display: inline;
            cursor: pointer;

            ion-icon {
                display: block;
                font-size: 2em;
                padding: 1em;
            }
            
            #check {
                display: none;
            }

            #check:checked ~ ul {
                position: fixed;
                top: 60px;
                right: 0;
                width: 100vw;
                height: calc(100vh - 120px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $pink;
                li {
                    display: block;
                    width: 100%;
                    padding: 1em;
                    text-align: center;
                }
            }
        }

        transition: all 1s ease;
        justify-content: space-between;

    }
}


#contact {
    @include flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#about {
    @include flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../img/bear-pink.svg");
    background-repeat: no-repeat;

    #bear-pink-1 {
        position: absolute;
        right: 0;
        top: 0;
    }

    #bear-pink-2 {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}